# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="your database url"


// Define the model for questions
model Question {
  id          Int      @id @default(autoincrement())
  name        String
  type        String
  required    Boolean
  text        String?
  description  String?

  // Define a relation to responses
  responses   Response[]
}

// Define the model for responses
model Response {
  id            Int       @id @default(autoincrement())
  full_name     String
  email_address String
  description   String
  gender        String
  programming_stack String
  certificates  Certificate[]
  date_responded DateTime @default(now())

  // Define a relation to questions
  question      Question @relation(fields: [questionId], references: [id])
  questionId    Int
}

// Define the model for certificates
model Certificate {
  id          Int    @id @default(autoincrement())
  name        String
  format      String
  max_file_size Float
  max_file_size_unit String
  multiple    Boolean

  // Define a relation to responses
  responses   Response @relation(fields: [responseId], references: [id])
  responseId  Int
}